:root {
    --primary-color: #4CAF50;
    --secondary-color: #f0f0f0;
    --border-radius: 7px;
    --island-width: 300px;
    --button-bg-color: #4CAF50;
    --button-text-color: #ffffff;
    --input-border-color: #ccc;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
}

#island {
    height: min-content;
    border: 2px solid var(--input-border-color);
    border-radius: var(--border-radius);
    padding: 20px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--island-width);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: var(--primary-color);
    font-size: 2.2em;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

input[type="number"], .switch {
    padding: 10px;
    font-size: 1em;
    width: calc(100% - 20px);
    margin-top: 10px;
    border: 1px solid var(--input-border-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    outline: none;
    text-align: center;
}

.switch-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.switch-label {
    flex: 1;
    text-align: left;
    color: #333;
}

.switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 24px;
    border: none;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 24px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: var(--primary-color);
}

input:checked + .slider:before {
    transform: translateX(22px);
}

button {
    padding: 10px 20px;
    font-size: 1em;
    margin: 10px 0;
    cursor: pointer;
    width: calc(100% - 20px);
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}

button[disabled] {
    background-color: #e20c0c;
    cursor: not-allowed;
}
